@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .body{
    background-color: #d5d8db;
  }
.header{
    background-color: #d5d8db;
    font-family: 'Pacifico', cursive;
    height: 50px;
    color:black;
    font-size: 15px;
    padding: 5px;
    vertical-align: top;
    text-align: left;
}
.tabs .tabs-active{
  width: 430px;
}
.tab-left{
  margin-left: 80px;
  margin-right: 50px;
  float: left;
}
.tab-right{
  margin-left: 50px;
  margin-right: 100px;
  float: right;
}
.tabs span{
    display: inline-block;
    cursor: pointer;
    background-color:#57bce4 ;
    padding: 6px 0px;
}



.container{
    float: right;
    padding: 16px;
    width: 500px;
    margin: 30px auto;
}
.form {
    width: 100%;
    min-height: 40vh;
    padding: 0 20px;
    display: flex;
  }
.form .login{
    padding: 30px;
  margin: auto;
  width: 100%;
  max-width: 510px;
  min-height: 300px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  background-color: skyblue;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}
.form .login  label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .form .login input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(213, 218, 218, 0.89);
    color: #fff;
    letter-spacing: 1px;
  }
  .form .login  .btnContainer {
    width: 100%;
    padding: 14px 0;
    background-color: #57bce4;
    color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  }
  .form .login  .btnContainer  span:hover {
    color: red;
  }
@media screen and (max-width: 300px) {
    span.psw{
      display: block;
      float: none;
    }
    .cancelbtn{
      width: 100%;
    }
}

